body{
    font-family:Arial;
    color:#99f;
    background-color:#060;
    text-align:center;
}
.heading{
    text-shadow: 2px 2px #000;
}
.good{
    text-decoration: underline;
}
.bad{
    font-weight: bold;
}
.descriptive{
    list-style-type: square;
}